#G_BlockCommand

enable-plugin: true #set to false to disable plugin, set to true to enable plugin

groups:
  #group 1 is the highest tier (like Owner)
  group 1: #keep it chronological (group 1, group 2, etc.) else the code won't recognize it
    name: Owner #(displayed groupname)
    color: GOLD #(please choose a color from this list: https://hub.spigotmc.org/javadocs/spigot/org/bukkit/ChatColor.html
    members:
    - #Name of Server Owner
    - #name2

  #Add groups like this:
  group 2:
    name: Admin #nameofgroup (Owner, Admin, Op, etc.)
    color: AQUA #(doesn't have to be all caps), not giving a value to color could create errors (should default to White)
    members:
      - #name
      - #name2

  #example
  group 3:
    name: User
    color: WHITE
    members:
      - #name
      - #name

blocked_commands:
  #group 2 inherits from group 1, group 3 from group 2 and group 1, etc.
  #if you don't want a command to be inherited place a . before the command (like this: ./command) this way groups
  #under that group won't inherit that command
  group 1:
    - #/command1
    - #/command2

  #Add groups like this:
  group 2:
    - /gsetgroup          #recommended
    - /ghelp              #recommended
    - /gblockedcommands   #recommended
    - /gblockcommand      #recommended
    - /gunblockcommand    #recommended
    - /gremovegroup       #recommended
    - #/commandexample

  group 3:
    - #/commandexample
    - #./commandexample


default-group: User                    #Default group for players who don't have a group, leave empty if you don't want a default group
                                       #Group needs to exist above

broadcast-blockedcommand-public: false #decides whether or not to publicly broadcast a permission error message
                                       #("player tried to execute command but didn't have the permissions to do so")
                                       #setting it to false will only inform the player trying the command

broadcast-groupchange-public:    false #decides whether or not to publicly broadcast a player group change (/gsetgroup)
                                       #setting it to false will only inform the player setting the group and the player getting set the group